# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [86]:
import pandas as panditasbb
import numpy as np
import scipy

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [87]:
pokemon=panditasbb.read_csv("Pokemon.csv")

### Print first 10 rows of `pokemon`

In [88]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [89]:
pokemon_t1=pokemon["Type 1"].unique()
pokemon_t2=pokemon["Type 2"].unique()
print(pokemon_t1)
print(pokemon_t2)

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [90]:
mega=list(pokemon[pokemon["Name"].str.contains("Mega ")].index)

In [91]:
pokemon.drop(mega,inplace=True)

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

### Identify the pokemon with the highest `A/D Ratio`

In [92]:
pokemon["A/D Ratio"]=pokemon.Attack/pokemon.Defense

### Identify the pokemon with the lowest A/D Ratio

In [93]:
min_adratio=pokemon["A/D Ratio"].min()
pokemon[pokemon["A/D Ratio"]==min_adratio]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [94]:
pokemon["Combo Type"]=np.where(pokemon["Type 2"].isnull(),pokemon["Type 1"],pokemon["Type 1"]+"-"+pokemon["Type 2"])
pokemon["Combo Type"].head()

0    Grass-Poison
1    Grass-Poison
2    Grass-Poison
4            Fire
5            Fire
Name: Combo Type, dtype: object

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [95]:
filtered=pokemon.sort_values(by="A/D Ratio",ascending=False)[0:5]
filtered

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True,3.000,Psychic

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [96]:
pokemon.groupby("Combo Type")

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [104]:
pokemon.groupby("Combo Type")["Total","HP","Attack","Defense","Sp. Atk","Sp. Def","Speed","Generation","A/D Ratio"].mean()

<ipython-input-104-b09cca00cb66>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pokemon.groupby("Combo Type")["Total","HP","Attack","Defense","Sp. Atk","Sp. Def","Speed","Generation","A/D Ratio"].mean()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
Combo Type,,,,,,,,,
Bug,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588,0.940179
Bug-Electric,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,1.111667
Bug-Fighting,500.000000,80.000000,125.000000,75.000000,40.000000,95.000000,85.000000,2.000000,1.666667
Bug-Fire,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,1.234266
Bug-Flying,405.615385,62.846154,63.615385,57.076923,73.461538,67.461538,81.153846,3.000000,1.135090
...,...,...,...,...,...,...,...,...,...
Water-Ice,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.821759
Water-Poison,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,1.162149
Water-Psychic,453.750000,85.000000,72.500000,85.000000,85.000000,78.750000,47.500000,1.250000,0.875418
Water-Rock,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.727170
Water-Steel,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.977273